body {
    font-family: "Comic Sans MS";
    text-align: center;
    margin: 50px;
    width: 1344px;
    height: 2000px;
    padding: 20px;
    background: linear-gradient(to bottom, #83878b, #83878b);
    overflow: visible;
}

h1 {
    font-family: "Comic Sans MS", Georgia, Serif;
    position: absolute;
    color: #efefef;
    font-size: 76px;
    top: 120px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

a {
    font-family: "Comic Sans MS", Georgia, cursive;
    font-style: italic;
    position: absolute;
    color: #efefef;
    font-size: 20px;
    top: 300px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

div.background {
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-image: url("assets/background.png");
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
}

div.background-col {
    background-size: cover;
    position: absolute;
    height: 1080px;
    width: 100%;
    background-image: url("assets/background2.png");
    top: 30%;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@media (orientation: portrait) {
    body {
        background-color: #83878b;
    }
}

@media (orientation: landscape) {
    body {
        background-color: #83878b;
    }
}