body {
    font-family: "MySans";
    text-align: center;
    margin: 50px;
    width: auto;
    height: 2000px;
    padding: 20px;
    background: linear-gradient(to bottom, #83878b, #83878b);
    overflow: visible;
}

h1 {
    font-family: "MySans", Georgia, Serif;
    position: absolute;
    color: #efefef;
    font-size: 76px;
    top: 120px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

a {
    font-family: "MySans", Georgia, Serif;
    font-style: italic;
    position: absolute;
    color: #efefef;
    font-size: 20px;
    top: 300px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

div.background {
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-image: url("assets/background.png");
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
    z-index: 1;
}

div.background-col {
    background-size: cover;
    position: absolute;
    height: 1080px;
    width: 100%;
    background-image: url("assets/background2.png");
    top: 30%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

.button {
    font-family: "MySans", Georgia, Serif;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    position: absolute;
    z-index: 4;
}

.text {
    font-family: "MySans", Georgia, Serif;
    position: absolute;
    color: #efefef;
    font-size: 30px;
    z-index: 4;
}

@font-face {
    font-family: "MySans";
    src: url("assets/CustomSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@media (orientation: portrait) {
    body {
        background-color: #83878b;
    }
}

@media (orientation: landscape) {
    body {
        background-color: #83878b;
    }
}